<ion-view view-title="Break">
    <div class="tabs-striped tabs-balanced ">
        <div class="tabs">
            <a href="#/breakp/{{activityId}}" class="tab-item">Planned </a>
            <a href="#/break/{{activityId}}" class="tab-item">Summary</a>
        </div>
    </div>
    <ion-content>
        <div class="list card">
            <label class="item  item-stacked-label icon-item-left">
			      <span class="input-label ion-android-chat">  Comments</span>
			      <p> {{planningDetails.comment}}</p>
		    </label>
        </div>
    </ion-content>
</ion-view>