  <ion-view view-title="Data Entry" >
         <div class="tabs-striped tabs-balanced ">
	        <div class="tabs">
	         <a href="#/data_entryp/{{activityId}}" class="tab-item">Planned </a>
	         <a href="#/data_entry/{{activityId}}" class="tab-item">Summary</a>
	        </div>
	     </div>

	     <ion-content >
		     <div class="list card">
					
				    <label class="item item-stacked-label icon-item-left">
				    <span class="input-label ion-android-chat">  Comments</span>
				    <p>{{planningDetails.comment}}</p>
				    </label>	    
			 </div>
			
		 </ion-content>
 </ion-view>
