<ion-view class="sun" view-title="Start my day"  >
<ion-content >

      <div class="card" >
		  <div class="item item-text-wrap" >
		   <h2 class="sun_page">Hello {{adminId}} !!</h2>
		   <h2 class="sun_page">Today is {{date| date:"mediumDate"}}</h2>
		   <h2 class="sun_page">Tave a good day :)</h2>
		  </div>
	  </div>
		     
     <div class="padding">
     <button type="button" class="button button-block button-positive" ng-click="goToTasks()">GoToTasks</button>
     </div>

</ion-content>
</ion-view>
