<ion-view view-title="Travel Local">
    <div class="tabs-striped tabs-balanced ">
        <div class="tabs">
            <a href="#/travel_localp/{{activityId}}" class="tab-item">Planned </a>
            <a href="#/travel_local/{{activityId}}" class="tab-item">Summary</a>
        </div>
    </div>

    <ion-content>
        <div class="list card">
            <label class="item item-icon-left ">
                 <div class="ion-location" > Start my travel</div>
                  </br>
                  <p>Latitude:{{planningDetails.start.lat}}</p>
                  <p>Longitude:{{planningDetails.start.lng}}</p>
            </label>

            <label class="item item-icon-left ">
                 <div class="ion-location" > End my travel</div>
                 </br>
                  <p>Latitude:{{planningDetails.end.lat}}</p>
                  <p>Longitude:{{planningDetails.end.lat}}</p>
            </label>

            <label class="item item-stacked-label ">
                 <div class="ion-ios-minus" > Mode</div>
                 <p>{{planningDetails.mode}}</p>
            </label>

            <label class="item  item-stacked-label icon-item-left">
              <span class="input-label ion-android-chat"> Active</span>
              <p>{{planningDetails.active}}</p>
               
          </label>
        </div>
    </ion-content>
</ion-view>